<%- include('../partials/header') %>
<section id="show-page">
  <div>Team Name:</div>
  <div><%= team.teamName %></div>
  <div>Formation:</div>
  <div><%= team.formation %></div>
  <div>Up Votes:</div>
  <div><%= team.upvoteCount %></div>
  <div>Down Votes:</div>
  <div><%= team.downvoteCount %></div>
</section>
<br />
<br />
<div>Team:</div>
<ul>
  <%- team.players.map(p => `
  <li>${p.name} <small>${p.position}</small></li>
  ` ).join('') %>
</ul>
<form id="addPlayer" action="/teams/<%= team._id %>/players" method="POST">
  <select name="playerId" class="selectPlayer">
    <%- players.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>
  <button type="submit" class="allBtns">ADD TO TEAM</button>
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<form action="/teams/<%= team._id %>/comments" method="POST">
  <label>Comments:</label>
  <textarea name="comment" class="commentBox"></textarea>
  <input type="submit" value="ADD COMMENT" class="allBtns" />
</form>
<br />
<div>Comments:</div>
<ul>
  <%- team.comments.map(c => `
  <li>${c.comment}</li>
  ` ).join('') %>
</ul>
<form action="/teams/<%= team._id %>/upvote" method="POST">
  <input type="submit" value="UP VOTE" class="allBtns" />
</form>
<form action="/teams/<%= team._id %>/downvote" method="POST">
  <input type="submit" value="DOWN VOTE" class="allBtns" />
</form>

<%- include('../partials/footer') %>
