<%- include('../partials/header') %>
<section id="show-page">
  <div>Team Name:</div>
  <div><%= team.teamName %></div>
  <div>Formation:</div>
  <div><%= team.formation %></div>
</section>
<div>Team:</div>
<ul>
  <%- team.players.map(p => `
  <li>${p.name} <small>${p.position}</small></li>
  ` ).join('') %>
</ul>
<form id="addPlayer" action="/teams/<%= team._id %>/players" method="POST">
  <select name="playerId">
    <%- players.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>
  <button type="submit">Add To Team</button>
</form>
<form action="/teams/<%= team._id %>/comments" method="POST">
  <label>Comments:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Comment" />
</form>
<div>Comments:</div>
<ul>
  <%- team.comments.map(c => `
  <li>${c.comment}</li>
  ` ).join('') %>
</ul>

<%- include('../partials/footer') %>
